div, a {
    color: #fff9fc
}


body {
    background-image: url("image.jpg");
    background-size: cover;
}

form, h1, h3 {
    margin: 20px 60px 10px 1200px;
    color: #4a4d6a;
}

#param {
    margin-left: 1200px;
}

.winner {
    margin-left: 1200px;
    color: #2a3169;
    font-size: 20px;
}