<html>
    <head>
    {% if title %}
        <title>{{title}}</title>
        {% else %}
        <title>Battlefield</title>
        {% endif %}
    </head>
    <body>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <div>Battlefield: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>{% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </body>
</html>