<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BATTLEFIELD</title>
</head>
<body>
<form action="/repeat" method="POST">
        <b>Enter quantity of squads %s army</b>
        <input type="text" name="quantity of squads"><br>
        <b>Enter quantity of units %s army</b>
        <input type="text" name="quantity of units"><br>
        <b>Enter strategy %s army</b>
        <input type="text" name="strategy"><br>
        <input type="submit" value="Enter">
    </form>
</body>
</html>